<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yxinmin.zs.dao.UserDao">
	<sql id="col">
		u_name AS name,
		u_id AS id,
		u_password AS password,
		u_nickname AS nickName
	</sql>

    <insert id="add">
		insert into cn_user(u_id,u_name,u_password,u_nickname) values(#{id},#{name}, #{password},#{nickName})
	</insert>
	<select id="findAll" resultType="com.yxinmin.zs.entity.User">
		select <include refid="col"></include> from cn_user
	</select>

	<delete id="delete">
		delete from cn_user where u_id=#{id}
	</delete>

	<update id="update">
		update cn_user set u_password=#{password} where u_id=#{id}
	</update>
	<select id="findById" resultType="com.yxinmin.zs.entity.User">
		select <include refid="col"/> from cn_user where u_id=#{id}
	</select>

	<select id="findByNickName" resultType="com.yxinmin.zs.entity.User">
		select <include refid="col"/> from cn_user where u_nickname=#{nickName}
	</select>

	<select id="findByName" resultType="com.yxinmin.zs.entity.User">
		select <include refid="col"/> from cn_user where u_name=#{name}
	</select>
</mapper>
